<div class="logo-main">
        <div class="logo-group">
        <span>
                <h3 class="ui header">
                <i class="settings icon"></i>
                <div class="content">
                        mPlatform
                <div class="sub header">Better devlopment</div>                
                </div>
                </h3>
        </span>    
        </div>
</div>

<div class="header-main">
    <div class="header-group">
        <div class="ui small red menu">  
                <a class="item">
                        <i class="gamepad icon"></i>
                  Home
                </a>                                       
                <app-menu-item *ngFor="let menu of topMenu.obj" [menu]="menu"></app-menu-item>
                <div class="right menu">
                        <div class="ui dropdown item" id="language">
                                <i class="world icon"></i>Language <i class="dropdown icon"></i>
                                <div class="menu">
                                        <a class="item" (click)="setLanguage('KO')"><i class="kr flag"></i>한국어</a>
                                        <a class="item" (click)="setLanguage('EN')"><i class="us flag"></i>English</a> 
                                </div>
                        </div>

                        <div class="ui dropdown item" id="setting">
                                <i class="settings icon"></i>Settings <i class="dropdown icon"></i>
                                <div class="menu">
                                        <a class="item" routerLink="admin/settings/dictionary">다국어설정</a>                                       
                                </div>
                        </div>
                </div>     
        </div>
    </div>
</div>
