<h3 class="ui block header">
  The best way to design, build, and ship software.
</h3>
<form #regForm="ngForm">
  <md-input-container class="example-full-width">
    <input mdInput #loginId minlength="4" maxlength="20" required placeholder="Login ID" [(ngModel)]="user.loginId" name="loginId">
    <md-error>로그인 아이디를 입력해주세요.</md-error>
    <md-hint align="end">{{loginId.value.length}} / 20</md-hint>
  </md-input-container>

  <md-input-container class="example-full-width">
    <input mdInput #password type="password" minlength="8" maxlength="32" placeholder="Password" [(ngModel)]="user.password" name="password" required validateEqual="confirmPassword" reverse="true">
    <md-error><strong>비밀번호를 입력해주세요.</strong> </md-error>
    <md-hint align="end">{{password.value.length}} / 32</md-hint>
  </md-input-container>

  <md-input-container class="example-full-width">
    <input mdInput #confirmPassword type="password" minlength="8" maxlength="32" placeholder="Confirm password" [(ngModel)]="user.confirmPassword" name="confirmPassword" required validateEqual="password">
    <md-error><strong>비밀번호를 한번 더 입력해주세요.</strong> </md-error>
    <md-hint align="end">{{confirmPassword.value.length}} / 32</md-hint>
  </md-input-container>

  <md-input-container class="example-full-width">
    <input mdInput #email type="email" maxlength="256" placeholder="Email" [(ngModel)]="user.email" name="email" required>
    <md-error><strong>이메일 주소를 입력해주세요.</strong> </md-error>
    <md-hint align="end">{{email.value.length}} / 256</md-hint>
  </md-input-container>

  <div class="ui form">
    <div class="grouped fields">
      <div class="field">
        <sui-radio-button name="agree" value="Y" [(ngModel)]="user.agree">약관에 동의하십니까?</sui-radio-button>
      </div>
    </div>
    <button class="ui right floated labeled icon button" [disabled]="!regForm.valid" (click)="register()">
      <i class="right arrow icon"></i>
        Create an account
    </button>
    <p>Made by profavor</p>
  </div>
 </form>
