.auth-main {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

body > .grid {
  height: 100%;
}

.column {
  max-width: 450px;
}

.full-width {
  width: 100%;
}
