<div class="ui middle aligned center aligned grid auth-main">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="assets/images/logo.png" class="image">
      <div class="content">
        {{'login.title' | translate}}
      </div>
    </h2>
    <form #loginForm="ngForm" (ngSubmit)="login()">

        <md-input-container class="full-width">
          <input mdInput #loginId minlength="4" maxlength="20" required placeholder="Login ID" [(ngModel)]="user.loginId" name="loginId">
          <md-error><strong>사용자 아이디를 입력해주세요.</strong> </md-error>
          <md-hint align="end">{{loginId.value.length}} / 20</md-hint>
        </md-input-container>

        <md-input-container class="full-width">
          <input mdInput #password type="password" minlength="8" maxlength="32" placeholder="Password" [(ngModel)]="user.password" name="password" required validateEqual="confirmPassword" reverse="true">
          <md-error><strong>비밀번호를 입력해주세요.</strong> </md-error>
          <md-hint align="end">{{password.value.length}} / 32</md-hint>
        </md-input-container>
      <div class="ui segment">
        <button type="button" class="ui fluid large teal submit button" [disabled]="!loginForm.valid" (click)="login()">Login</button>
      </div>
    </form>

    <div class="ui message">
      New to us? <a href="#" (click)="open()">Sign Up</a>
    </div>
  </div>
</div>

<ng-template let-context let-modal="modal" #modalTemplate>
  <div class="header">User registration</div>
  <div class="content">
   <auth-regForm></auth-regForm>
  </div>
</ng-template>
